.headContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

.title {
    height: 46px;
    display: flex;
    align-items: center;
    padding-top: 13px;
    padding-left: 37px;
    padding-bottom: 21px;
}

.settings {
    height: 46px;
    display: flex;
    align-items: center;
    padding-top: 13px;
    padding-right: 39.5px;
}

.tasksBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
