.checkBoxGroup {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-left: 20px;
}
.checkBox {
    height: 23px;
    display: flex;
    align-items: center;
}
.labelCheckbox {
    height: 23px;
    display: flex;
    align-items: center;
}
.labelnoTaskToday {
    color: #F4F4F4;
    display: flex;
    justify-content: center;
}